.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
.terraformrc
terraform.rc
override.tf
override.tf.json
*_override.tf
*_override.tf.json
debug-*-cloud-config.yaml
todo.md
