network:
  version: 2
  ethernets:
%{ for data in network_data ~}
    ${jsonencode(data.interface_name)}:
      match:
        macaddress: ${jsonencode(data.mac_address)}
      set-name: ${jsonencode(data.interface_name)}
%{ if length(data.addresses) > 0 ~}
      addresses: ${jsonencode(data.addresses)}
%{ endif ~}
%{ if data.default_route != null || length(data.routes) > 0 ~}
      routes:
%{ if data.default_route != null ~}
        - to: default
          via: ${jsonencode(data.default_route)}
%{ endif ~}
%{ for route in data.routes ~}
        - to: ${jsonencode(route.to)}
          via: ${jsonencode(route.via)}
%{ endfor ~}
%{ endif ~}
      dhcp4: ${jsonencode(coalesce(data.dhcp4, length(data.addresses) == 0))}
      dhcp6: ${jsonencode(data.dhcp6)}
%{ if length(data.dns_servers) > 0 || length(data.dns_domains) > 0 ~}
      nameservers:
%{ if length(data.dns_servers) > 0 ~}
        addresses: ${jsonencode(data.dns_servers)}
%{ endif ~}
%{ if length(data.dns_domains) > 0 ~}
        search: ${jsonencode(data.dns_domains)}
%{ endif ~}
%{ endif ~}
%{ endfor ~}
