#cloud-config
timezone: ${jsonencode(timezone)}
locale: ${jsonencode(locale)}

%{ if hostname != null ~}
hostname: ${jsonencode(hostname)}
create_hostname_file: true
%{ endif ~}
%{ if fqdn != null ~}
fqdn: ${jsonencode(fqdn)}
prefer_fqdn_over_hostname: true
%{ endif ~}

users:
%{ for data in user_data ~}
  - name: ${jsonencode(data.username)}
    gecos: Terraform
%{ if data.sudoers != null ~}
    sudo: ${jsonencode(data.sudoers)}
%{ endif ~}
%{ if data.password != null ~}
    passwd: ${jsonencode(data.password)}
    lock_passwd: false
%{ endif ~}
%{ if data.shell != null ~}
    shell: ${jsonencode(data.shell)}
%{ endif ~}
%{ if length(data.groups) > 0 ~}
    groups: ${jsonencode(data.groups)}
%{ endif ~}
%{ if length(data.ssh_import_ids) > 0 ~}
    ssh_import_id: ${jsonencode(data.ssh_import_ids)}
%{ endif ~}
%{ if length(data.authorized_keys) > 0 ~}
    ssh_authorized_keys: ${jsonencode(data.authorized_keys)}
%{ endif ~}
%{ endfor ~}

package_reboot_if_required: true
package_update: true
package_upgrade: true
packages:
  - qemu-guest-agent
  - ssh-import-id
%{ for package in packages ~}
  - ${jsonencode(package)}
%{ endfor ~}

runcmd:
  - systemctl enable qemu-guest-agent
  - systemctl start qemu-guest-agent
